div.nt-form-grupos-asignados{
	margin: auto;
<<<<<<< HEAD
	width:50%;
=======
	width:60%;
>>>>>>> 959c147118b0efde91fc81654f71c1e9504c4567
	height: auto;
	margin-top: 50px;
	border: 1px solid #CED5D7;
	border-radius: 6px;
	box-shadow: 0px 5px 10px #B5C1C5,0 0 0 10px #EEF5F7 inset;
}
