div.nt-form-grupos-asignados{
	margin: auto;
	width:60%;
	height: auto;
	margin-top: 50px;
	border: 1px solid #CED5D7;
	border-radius: 6px;
	box-shadow: 0px 5px 10px #B5C1C5,0 0 0 10px #EEF5F7 inset;
}
