@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

div.seguimiento{
	margin: auto;
	width: 75%;
	height: auto;
	margin-top: 30px;
	border: 1px solid #CED5D7;
	border-radius: 6px;
	box-shadow: 0px 5px 10px #B5C1C5,0 0 0 10px #EEF5F7 inset;
}

div.lab-dic-mat{
	margin-left: 30%;
}

div.tabla-cont{
	overflow:scroll;
	border: 1px solid #CED5D7;
	height: 170px
}

button.btn-default{	
	margin-left: 30%;
}

div.col-d{
	position: absolute;
}

div.form-if{
	
	padding-left: 0px;
}

div.tab-hor{
	overflow:scroll;
	border: 1px solid #CED5D7;
	height: 170px;
}

table.tabla-hor{
	font-size: 12px;
}

label.lab-h{
	font-size: 11px;
}

div.form-hora{
	padding-right: 0px;
	padding-left: 0px;
}

button.reg-mat{
	
}