@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

div.seguimiento{
	margin: auto;
	width: 75%;
	height: auto;
	margin-top: 30px;
	border: 1px solid #CED5D7;
	border-radius: 6px;
	box-shadow: 0px 5px 10px #B5C1C5,0 0 0 10px #EEF5F7 inset;
}

button.btn-global{
	background-color: #047BDE;
	border-radius: 4px;
}

input.input-global{
      border: 1px solid #cccccc;
      border-radius: 4px;
 }

label.lab{
	float: right;
}
 button.btn-bs{
 	float: left;
 }


div.d-borde{
	border:1px solid #CED5D7;
}

button.btn-peq{
	margin: auto;
}

label.lb-seg{
	width: 15px;
}


input.form-tam{
	width: 100%;
}

div.tabla-cont{
	background-color: white;
	overflow:scroll;
	border: 1px solid #CED5D7;
	height: 170px
}

input.form-hh{
	width: 100%;
}

div.d-btn{
	margin: auto;
}



/*----------------------*/
div.lab-dic-mat{
	margin-left: 30%;
}





div.col-d{
	position: absolute;
}

div.form-if{

	padding-left: 0px;
}

div.tab-hor{
	overflow:scroll;
	border: 1px solid #CED5D7;
	height: 170px;
}

table.tabla-hor{
	font-size: 12px;
}

label.lab-h{
	font-size: 11px;
}

div.form-hora{
	padding-right: 0px;
	padding-left: 0px;
}
